<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Codewire</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../../public/stylesheets/style.css">
</head>

<body>
    <header class="header">
        <div class="app-logo">
            <h1 class="logo">C</h1>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="">Login</a>
                </li>
                <li>
                    <a href="">Signup</a>
                </li>
                <li>
                    <a href="">Post</a>
                </li>
                <li>
                    <a href="">User</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="header-img-container">
        <h1 class="app-title">Codewire</h1>
    </div>

  <main class="">
    
  </main>

  <footer class="footer flex-row justify-center">
    
  </footer>
</body>

</html>