<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Codewire</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header class="header">
        <div class="app-logo">
            <h1 class="logo">C</h1>
        </div>
        <nav>
            {{#if loggedIn}}
            <a href="" id="logout">Logout</a>
            <a href="">Post</a>
            <a href="">User</a>
            {{else}}
            <a href="/login">login</a>
            <a href="/signup">signup</a>
            {{/if}}
        </nav>
    </header>
    <div class="header-img-container">
        <h1 class="app-title">Codewire</h1>
    </div>

    <main>
      <div class="dropdown">
        <div class="projects">
          <button>Filters</button>
          <ul>
              <li><a href="">Dropdown Content</a></li>
              <li><a href="">Dropdown Content</a></li>
              <li><a href="">Dropdown Content</a></li>
              <li><a href="">Dropdown Content</a></li>
              <li><a href="">Dropdown Content</a></li>
              <li><a href="">Dropdown Content</a></li>
          </ul>
        </div>
      </div>

      <br>
      <br>

<div class="post-container row">
  <div class="post col-3">
    <h4 class="post-title"><a class="link" href="">Title</a></h4>
    <p class="post-details">Posted by X on X </p>
    <div class="content"><p class="post-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tellus elementum sagittis vitae et. Nullam vehicula ipsum a arcu cursus vitae congue. Augue ut lectus arcu bibendum at. Mauris nunc congue nisi vitae suscipit tellus mauris a. Odio facilisis mauris sit amet massa vitae tortor condimentum lacinia. Enim ut sem viverra aliquet eget sit. Sed arcu non odio euismod lacinia at quis risus sed. Tincidunt tortor aliquam nulla facilisi. In nisl nisi scelerisque eu ultrices vitae auctor. Aliquam nulla facilisi cras fermentum odio eu feugiat. Felis imperdiet proin fermentum leo. Ut etiam sit amet nisl purus in mollis. Sed viverra ipsum nunc aliquet bibendum. Sem et tortor consequat id porta nibh. Donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu. Vitae elementum curabitur vitae nunc sed velit dignissim. Et tortor at risus viverra adipiscing. Senectus et netus et malesuada. Rhoncus mattis rhoncus urna neque viverra justo nec ultrices.

      Suspendisse faucibus interdum posuere lorem ipsum dolor sit amet. Id neque aliquam vestibulum morbi blandit cursus risus at ultrices. Enim praesent elementum facilisis leo vel fringilla est ullamcorper. Lacus sed viverra tellus in hac habitasse platea dictumst vestibulum. Velit ut tortor pretium viverra suspendisse potenti nullam. Pulvinar etiam non quam lacus suspendisse faucibus interdum posuere lorem. A cras semper auctor neque vitae tempus quam. Vivamus arcu felis bibendum ut tristique et. A diam maecenas sed enim ut sem viverra aliquet eget. Sapien faucibus et molestie ac feugiat sed lectus vestibulum mattis. Et malesuada fames ac turpis egestas integer. Potenti nullam ac tortor vitae purus faucibus ornare suspendisse. Et ultrices neque ornare aenean euismod elementum nisi quis eleifend. Sed augue lacus viverra vitae congue eu consequat. Eget arcu dictum varius duis at. Mattis pellentesque id nibh tortor id aliquet lectus proin.
    </p></div>
    <div class="likes-comments">
    </div>
  </div>
</div>

      {{{ body }}}
    </main>
    <footer class="row">
      <div class="codewire col-6">
        <h1>Codewire</h1>
        <p class="codewire-content">Codewire provides an outlet for apsiring back-end develoeprs or developers who need back-end code functionality to find the best of the best code.</p>
      </div>
      <div class="footer-content row">
        <div class="contact">
          <h1 class="footer-h1">Contact Us</h1>
          <a href=""><h7>Name</h7></a>
          <a href=""><h7>Name</h7></a>
          <a href=""><h7>Name</h7></a>
          <a href=""><h7>Name</h7></a>
          <a href=""><h7>Name</h7></a>
        </div>
        <div class="github">
          <h1 class="footer-h1">GitHub Repo</h1>
          <a href="">Click here to access this codes raw code.</a>
        </div>
      </div>
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  <script src="/javascript/like-dislike-btn.js"></>
  {{/if}}
  
</body>

</html>