<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Codewire</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

</body>

<body>

    <header class="header">
        <div class="app-logo">
            <h1 class="logo">C</h1>
        </div>
        <nav>
            {{#if loggedIn}}
            <a href="/">All Posts</a>
            <a href="/dashboard">Dashboard</a>
            <a href="" id="logout">Logout</a>
            {{else}}
            <a href="/login">login</a>
            <a href="/signup">signup</a>
            {{/if}}
        </nav>
    </header>
    <section>
      <div class="header-img-container">
        <h1 class="app-title">Codewire</h1>
      </div>
    </section>
    <main>
      {{{ body }}}
    </main>
      
<footer class="row">
  <div class="codewire col-4">
    <h1>Codewire</h1>
    <p class="codewire-content">
      Codewire is an app designed for developers to find the best back-end routes. 
    </p>
  </div>
  <div class="contact col-2">
    <h1 class="footer-h1">Contact Us</h1>
      <a href="mailto:natesmyth1@gmail.com"><h7>Nathaniel Hernandez</h7></a>
      <a href="mailto:mattparker124@gmail.com"><h7>Garret Hobson</h7></a>
      <a href="mailto:gmhobson@gmail.com"><h7>Matthew Parker</h7></a>
      <a href="mailto:jackjohnson@gmail.com"><h7>Jack Johnson</h7></a>
      <a href="mailto:davonb113@gmail.com"><h7>Davon Brown</h7></a>
  </div>
  <div class="github col-3">
    <h1 class="footer-h1">GitHub Repo</h1>
    <a href="https://github.com/mattparker124/codewire">Click here to access the raw code.</a>
  </div>
</footer>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  <script src="https://unpkg.com/feather-icons"></script>
  <script>
    feather.replace()
  </script>
  {{/if}}

  
</body>

</html>