<article class="new-page">
    <section class="new-form-page">
        <div class="form-heading">
            <h2>Create New Post</h2>
        </div>
        <div class="form-section">
            <form class="form form-post">
                <div class="post-title-section">
                    <label class="label-text" for="post-title">Title</label>
                    <input class="input" type="text" id="post-title" name="post-title" />
                </div>
                <div class="tag-selection">
                  <label class="label-text" for="tag-choice">Choose your route:</label>
                    <select class="input" class="tag-dropdown" id="tag-choice" name="tag-choice">
                      <option value="get">GET</option>
                      <option value="post">POST</option>
                      <option value="put">PUT</option>
                      <option value="delete">DELETE</option>
                    </select>
                </div>
                <div class="post-body">
                    <label class="label-text" for="post-body">Content</label>
                    <textarea class="input" class="entry-field" id="post-body" name="post-body"></textarea>
                </div>
                <div>
                  <button type="submit" class="btn">Create</button>
                </div>
            </form>
        </div>
    </section>
</article>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>