<section>
  <div class="dropdown">
    <div class="projects">
      <button>Filters</button>
        <ul>
          <li><a href="">Dropdown Content</a></li>
          <li><a href="">Dropdown Content</a></li>
          <li><a href="">Dropdown Content</a></li>
          <li><a href="">Dropdown Content</a></li>
          <li><a href="">Dropdown Content</a></li>
          <li><a href="">Dropdown Content</a></li>
        </ul>
      </div>
    </div>
</section>
    
      <br>

<ol class="post-list">
  {{#each posts as |post|}}

  {{> post-info post}}

  {{/each}}
</ol>



<script href="/public/javascript/search.js"></script>
