<section>
          <li><a href="/tag/get" id="get-btn">GET</a></li>
          <li><a href="/tag/put" id="put-btn">PUT</a></li>
          <li><a href="/tag/post" id="post-btn">POST</a></li>
          <li><a href="/tag/delete" id="delete-btn">DELETE</a></li>
</section>
    
      <br>

<ol class="post-list">
  {{#each posts as |post|}}

  {{> post-info post}}

  {{/each}}
</ol>



<script href="/public/javascript/search.js"></script>
