<form class="form login-form">
  <div>
    <label class ="label-text" for="email-login">email:</label>
    <input class="input" type="text" id="email-login" />
  </div>
  <div>
    <label class ="label-text" for="password-login">password:</label>
    <input class="input" type="password" id="password-login" />
  </div>
  <div>
    <button class="btn" type="submit">login</button>
  </div>
</form>
<script src="/javascript/login.js"></script>