{{> post-info post}}

{{#if loggedIn}}
<div class="dashboard-container">
  <div class="container row">
  <form class="comment-form col-3">
    <div>
      <textarea name="comment-body"></textarea>
    </div>

    <div class="button-container">
      <button class="btn" type="submit">add comment</button>
      <button class="btn" type="button" class="upvote-btn">upvote</button>
    </div>
  </form>
</div>
{{/if}}
</div>
{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}
